# App
APP_NAME=TravelMind
ENVIRONMENT=development
LOG_LEVEL=INFO

# Will be used starting Phase 2
DATABASE_URL=
REDIS_URL=
LLM_API_KEY=
LLM_MODEL=
USE_REAL_WEATHER=false

GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b
USE_REAL_WEATHER=true

DUFFEL_API_KEY=
MAKCORPS_RAPIDAPI_KEY=
USE_REAL_FLIGHTS=false
USE_REAL_HOTELS=false